.about{
    margin: 100px 0;
    &__content{
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }
    &__title{
        font-weight: 700;
        font-size: 48px;
        line-height: 62px;
        text-align: center;
    }
    &__text{
        margin: 0 auto;
        width: 70%;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
    }
    &__messengers{
        margin-top: 40px;
        display: flex;
        justify-content: space-evenly;
        &-item{
            display: flex;
            flex-direction: column;
            row-gap: 15px;
            align-items: center;
            &_icon{
                background: #202020;
                padding: 10px;
                border-radius: 15px;
                width: 65px;
                height: 65px;
            }
            &_title{
                font-weight: 700;
                font-size: 18px;
                line-height: 23px;
                margin:  0 auto;
            }
        }
    }
}