.footer{
    background: #202020;
    padding: 50px 0;
    margin-top: 100px;
    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #202020;
    }
    &__logo{
        background: #202020;
        font-weight: 700;
        font-size: 36px;
        line-height: 47px;
    }
    &__top{
        transition: 10s;
        &-item{
            position: fixed;
            bottom: 20px;
            right: 50px;
            background: transparent;
            width: 70px;
            height: 70px;
        }
    }
    &__links{
        display: flex;
        column-gap: 15px;
        &-item{
            &_icon{
                width: 30px;
            }
        }
    }
}


@media (max-width: 460px) {
    .footer{
        &__content{
            justify-content: center;
        }
        &__links{
            display: none;
        }
    }
}