.form{
    &__title{
        font-weight: 700;
        font-size: 48px;
        line-height: 62px;
        text-align: center;
        margin: 100px 0;
    }
    &__content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 40px;
        row-gap: 20px;
        &-inp{
            width: calc(50% - 20px);
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            color: #4F4F4F;
            background: transparent;
            padding: 10px;
            outline: none;
            border: none;
            border-bottom: 1px solid #4F4F4F;
            &_massage{
                width: 100%;
                padding: 10px 10px 70px;
                font-weight: 700;
                font-size: 14px;
                line-height: 18px;
                color: #4F4F4F;
                background: transparent;
                outline: none;
                border: none;
                border-bottom: 1px solid #4F4F4F;
            }
        }
        &-btn{
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            background: #27AE60;
            margin-top: 40px;
            padding: 12px 35px;
            border: none;
        }
    }
}