.greeting{
    &__content{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__info{
        &-title{
            font-weight: 700;
            font-size: 48px;
            line-height: 62px;
        }
        &-subtitle{
            font-weight: 500;
            font-size: 18px;
            line-height: 23px;
            color: #828282;
            margin: 10px 0 35px;
        }
        &-btns{
            display: flex;
            column-gap: 10px;
            display: flex;
            &_download{
                background: #27AE60;
                padding: 12px 27px;
                border: none;
            }
            &_git{
                border: 1px solid #F2F2F2;
                padding: 12px 27px;
                background: #171717;
            }
        }
    }
    &__img{
        background: rgba(30, 29, 29, 0.2);
        border: 40px solid #202020;
        width: 600px;
        height: 600px;
        background: url(../components/Greeting/images/main.jpg) center/cover no-repeat;
        border-radius: 500px;
    }
}

@media (max-width: 1000px) {
    .greeting{
        &__content{
            margin: 50px 0;
            flex-direction: column;
        }
        &__info{
            text-align: center;
            &-btns{
                margin: 50px 0 100px;
                display: flex;
                justify-content: center;
            }

        }
        &__img{
            width: 500px;
        }
    }
  }


@media (max-width: 550px) {
    .greeting{
        &__img{
            width: 400px;
            height: 400px;
        }
    }
}

@media (max-width: 450px) {
    .greeting{
        &__info{
            &-title{
                font-size: 32px;
            }
        }
        &__img{
            width: 300px;
            height: 300px;
        }
    }
}