.header{
    &__content{
        padding: 40px 0;
        display: flex;
        justify-content: space-between;
    }
    &__logo{
        font-weight: 700;
        font-size: 36px;
        line-height: 47px;
    }
    &__links{
        display: flex;
        column-gap: 70px;
        &-item{
            font-weight: 400;
            font-size: 18px;
            line-height: 23px;
        }
    }
}

@media (max-width: 600px) {
    .header{
        &__links{
            column-gap: 20px;
        }
    }
}

@media (max-width: 500px) {
    .header{
        &__links{
            display: flex;
            justify-content: space-between;
        }
    }
}

@media (max-width: 450px) {
    .header{
        &__links{
            display: none;
            // justify-content: space-between;
        }
    }
}


