.skills{
    &__title{
        font-weight: 700;
        font-size: 48px;
        line-height: 62px;
        text-align: center;
    }
    &__content{
        margin-top: 75px;
        display: flex;
        justify-content: space-between;
        background: #202020;
        padding: 60px 80px; 
        &-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            &_procent{
                font-weight: 700;
                font-size: 52px;
                line-height: 94px;
                text-align: center;
                color: #4F4F4F;
            }
            &_name{
                font-weight: 700;
                font-size: 24px;
                line-height: 31px;
                text-align: center;
                color: #27AE60;
            }
        }
    }
}


@media (max-width: 700px) {
    .skills{
        &__content{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
            padding: 40px 40px;
        }
    }
}

@media (max-width: 450px) {
    .skills{
        &__title{
            font-size: 32px;
        }
        &__content{
            &-item{
                &_procent{
                    font-size: 42px;
                }
            }
        }
    }
}