@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Lexend:wght@200;300;400;500;600;700;800&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'DM Sans', sans-serif;
    color: #fff;
}

body{
    background: #171717;
}


.container{
    background: #171717;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

@import 'header';
@import 'greeting';
@import 'about';
@import 'skills';
@import 'project';
@import 'form';
@import 'footer';


